body {
  font-size: 30px;
  background-color: aqua;
  text-align: center;
}

.color {
  color: rgb(143, 143, 143);
}

button {
  font-size: 30px;
  border: 0.5px;
  border-radius: 15px;
  background-color: white;
  opacity: 0.9;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(228, 228, 228);
}
